# Ignoring common Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo

# Ignoring virtual environment files
venv/
.venv/
ENV/
.env/


# Ignoring alembic folder and files
alembic/
alembic.ini

#config file
config.txt


# Ignoring environment configuration files
.env
