# Ignoring common Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo

# Ignoring virtual environment files
venv/
.venv/
ENV/


# Ignoring alembic folder and files
alembic/
alembic.ini

# Ignoring environment configuration files
.env
